@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&family=Rubik:ital,wght@0,400;0,500;1,300&family=Source+Sans+Pro&display=swap');

:root{
    --font-title: 'Josefin Sans', 'serif';
    --font-subtitle: 'Source Sans', 'serif';
    --font-description:'Josefin Sans', 'sans-serif';
    --color-blue:#2069A7;
    --color-blue-light: #92B4EC;
    --color-blue-sky:#B7CADB;
    --color-yellow:#FFD24C;
    --color-yellow-light:#FFE69A;
    --color-gray-dark:#434040;
    --color-gray:#C8C6C6;
    --color-black:#1D1C1C;
    --color-greem:#26ED8D;
    --color-white:#FFFFFF;
    --color--orange-pink:#ffd3b4;
    --color--pink-ligth: #FFB4D8;



}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adventure-sport{
    width: 100%;
}

.adventure-title{
    padding: 20px;
    font-family: var(--font-title);
    text-align: center;
    background-color: var(--color-gray);
}

.sub-title{
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    width: 180px;
    font-family: var(--font-subtitle);
    padding: 20px;
    margin: 0 auto 30px;
    text-align: center;
}

.container{
    text-align: center;
    background-color: var(--color-blue);
    padding: 15px;
}

.description{
    margin: 0 auto;
    max-width: 350px;
    padding-bottom: 30px;
    font-family: var(--font-description);
    font-weight: 400;
}

.options{
    margin: 30px auto;
    padding: 20px;
    max-width: 250px;
    list-style: none;
    font-family: var(--font-description);
    font-weight: 400;
    background-color: var(--color-yellow);
    box-shadow: -15px 15px 0 0 rgb(255, 210, 76, 0.5) ;
}

.options:first-child{
    box-shadow: 15px -15px 0 0 rgb(255, 210, 76, 0.5) ;
}
.options li{
    padding: 5px;
}

.price{
    text-align: center;
    max-width: 220px;
    padding: 15px 20px ;
    margin: 20px auto;
    border-radius: 10px ;
    background-color: var(--color-greem);
}
.price p{
    font-family: var(--font-description);
    font-weight: 400;
}

.marco{
    margin: 0 auto;
    max-height: 240px;
    max-width: 350px;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 15px;
}

.requirements{
    position: relative;
    max-height: 200px;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;

}

.requirements img{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 350px;
    /* z-index: 50; */
    border-radius: 15px;
}
.requisito{
    position: absolute;
    list-style: none;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 10px;
    opacity: 1;
    /* top: -100%; */
    /* transition: all 500ms ease-in-out; */
    /* visibility: hidden; */
    /* z-index: 1000; */
    border-radius: 15px;
    background-color:rgb(32, 105, 167,0.5);
}
.requisito-canotaje{
    padding: 40px;
}
.requisito-canopy{
    padding: 5px;
}

.requisito li:first-child{
    font-weight: 800;
}

/*=================articulo canopy=========*/
.marco-canopy{
    margin-bottom: 30px;
}

.features{
    list-style: none;
    padding: 20px 0;
    background-color: var(--color--orange-pink);
    /* z-index: 1000; */
}
.features li{
    font-family: var(--font-description);
    font-weight: 400;
    padding: 5px 0;
}
/* =================articulo rappel =================*/
.marco-rappel{
    margin-bottom: 40px;
}

.measures-rappel{
    margin: 0 auto;
    max-width: 550px ;
    background-color: var(--color--pink-ligth);
}
.options-rappel{
    background-color: var(--color--pink-ligth);
}
.requisito-rappel{
    padding: 25px;
}
/* ============ articulo precausiones==================== */
.sub-title-suggestions{
    max-width: 300px;
    margin: 0 auto 20px;
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 20px 0;
}
.marco-suggestions{
    max-width: 350px;
    text-align: center;    
    padding:20px;
    background-color: var(--color-white);   
    border-radius: 15px; 
    margin: 0 auto;

}
.marco-suggestions img{
    display: block;
    width: 100%;
    max-width: 300px;
}
.suggestions{
    margin: 0 auto;
    max-width: 430px;
    padding: 20px 0;
    list-style: none;
    text-align: center;

}

.suggestions li{
    padding: 10px 0;

}


/*====================== tamaño tablet =============*/
@media screen and (min-width: 750px){

    .marco{
        margin-bottom: 30px;
    }
    .measures{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    
} 

/*====================== tamaño desktop =============*/
@media screen and (min-width:1024px){ 
    .requirements img{
        z-index: 50;
    }
    .requisito{
        opacity: 0;
        top: -100%;
        transition: all 500ms ease-in-out;
        visibility: hidden;
        z-index: 1000;
    }
    .requirements:hover>.requisito{
        top: 0px;
        padding: 50px;
        opacity: 1;
        visibility: visible;
        background-color:rgb(32, 105, 167,0.5);
        border-radius: 15px;
    }

    .requirements:hover>.requisito{
        padding: 30px;
    }

    .adventure-sport{
        margin: 0;
    }
    .sub-title{
        margin: 0 auto 20px ;
    }
    .description{
        padding: 0;
    }
    .measures{
        margin: 0;
    }
    .container-rappel, .container-canopy{
        position: relative;
    }

    .measures-rappel::after, .measures-canopy::after{
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        grid-column:1/5 ;
        grid-row: 3/4;
    }
    .options-rappel{
        background-color: var(--color-white);
    }
    

    .marco{
        margin: auto auto;
        z-index: 1000;
    }

.container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}

.sub-title{
    grid-column: 2/4;
    grid-row: 1/2;
}
.description{
    padding: 10px 0 10px;
    grid-column: 1/3;
    grid-row: 2/3;
}
.marco{
    grid-column: 3/5;
    grid-row: 2/4;
}
.measures{
    grid-column: 1/3;
    grid-row: 3/4;
}
.price{
    grid-column: 2/4;
    grid-row: 4/5;
}

/* =============Canopy================================ */

.options-canopy{
    padding: 0 10px;
    z-index: 600;
    background-color: var(--color-white);
}


.marco-canopy{
    grid-column: 1/3;
    grid-row: 2/4;
}
.description-canopy{
    max-width: 400px;
    grid-column: 3/5;
}

.measures-canopy{
    grid-column: 3/5;
    grid-row: 3/4;
    margin: 0 auto;
}

/* =========RAPPEL================ */
.measures-rappel{
    margin: 0 auto;
    padding: 0 10px;
}
.options-rappel{
    z-index: 600;
}
/* ============ preacausiones===================== */
.container-suggestions{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2,auto);

}
.sub-title-suggestions{
    /* height: 10px; */
    padding: 20px;
    margin: auto auto;
    grid-column: 1/3;
    grid-row: 1/2;
}
.marco-suggestions{
    margin: auto auto;
    grid-column: 1/2;
    grid-row: 2/3;
}
.container-suggestions{
    grid-column: 2/3;
    grid-row: 2/3;
}

}


/* =====================Paseo turistico===================================== */

.tourist-walk-title{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray);
    font-family: var(--font-title);
}

.city-tours{
    padding: 15px;
    background-color: var(--color-blue);

}

.tours-title{
    padding: 20px 0;
    text-align: center;
}

.tours-title span{
    color: var(--color-yellow);
}

.tours-description{
    max-width: 350px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-description);
}
.tours{
    max-width: 350px;
    background-color: var(--color-white);
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
}

.tours img{
    display: block;
    width: 100%;
    max-width: 300px;
}

.tours-accessibility{
    max-width: 350px;
    margin: 20px auto;
    text-align: center;
    background-color: var(--color--orange-pink);
    border: 2px solid var(--color-black);

}

.tours-accessibility ul{
    list-style: none;
    margin: 10px 0;
}
.tours-accessibility ul:first-child{
    border-bottom: 2px solid var(--color-black);
}

.tours-accessibility li{
    padding: 5px 0;
}

.price-tours{
    max-width: 120px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 15px;
    text-align: center;
    background-color: var(--color-greem);
}

@media screen and (min-width:1024px){
    .city-tours{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        place-items: center;
        justify-items: center;
    }

    .tours-title{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .tours-description{
        grid-column: 1/2;
        grid-row:  2/3;
    }
    .tours-bridge{
        grid-column: 1/2;
        grid-row: 3/5;
    }
    .tours-house{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .tours-accessibility{
        display: flex;
        grid-column: 2/3;
        grid-row:4/5 ;
    }

    .tours-accessibility ul:first-child{
        
        border-bottom:0;
        border-right: 2px solid var(--color-black);
        
    }

    .tours-accessibility ul{
        padding: 10px 20px;
    }

    .price-tours{
        grid-column: 1/3;
        grid-row: 5/6;
    }
}
